@{
    ViewData["Title"] = "Vos réservations";
}

@if (Model != null)
{
    <div class="container d-flex justify-content-center">
        <div class="col-md-8 col-sm-8">
            <h1 class="text-center">Vos réservations</h1>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th> Photo</th>
                        <th> Type</th>
                        <th> Catégorie</th>
                        <th> Date réservation</th>
                        <th> Date échéance</th>
                        <th> Borne départ</th>
                        <th> Annuler la réservation</th>
                    </tr>
                </thead>

                @foreach (var r in Model)
                {
            <tr>
                <td>
                    <img src="@r.ImageVehicule" alt="imgVehicule"/>
                </td>
                <td>
                    @r.TypeVehicule.ToString()
                </td>
                <td>
                    @r.Categorie.ToString()
                </td>
                <td>
                    @r.DateReservation.ToString()
                </td>
                <td>
                    @r.DateEcheance.ToString()
                </td>
                <td>
                    @r.BorneDepart.ToString()
                </td>
                <td>
                    @{

                        <form name="borne-rendu" method="post">
                            <input id=@Model name="reservations" type="hidden" value=@Model>
                            <input id=@r.userId name="idClient" type="hidden" value=@r.userId>
                            <input id=@r.BorneDepart name="idBorneDepart" type="hidden" value=@r.BorneDepart>
                            <input id=@r.IdVehicule name="idVehicule" type="hidden" value=@r.IdVehicule>
                            <button type="submit" class="btn btn-danger">Annuler</button>
                        </form>

                     }
                </td>

            </tr>
                   }
            </table>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    @Html.ActionLink("Retourner à la liste des stations", "Index", "Map", null, new { @class = "btn btn-default btn-primary" })
                </div>
            </div>
        </div>
    </div>
}