@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/brand.png" />
                </a>
                <ul class="navbar-nav flex-grow-1">
                    <!-- <li class="nav-item dropdown mx-2 active">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" role="button">STATIONS</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item nav-link text-dark"
                                    asp-area="" asp-controller="Map" asp-action="City" asp-route-id="Lyon">Lyon</a>
                                <a class="dropdown-item nav-link text-dark"
                                    asp-area="" asp-controller="Map" asp-action="City" asp-route-id="Paris">Paris</a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="nav-item mx-2 @Html.Raw((string)ViewContext.RouteData.Values["controller"] == "Map" ? "active" : "")">
                        <a class="nav-link" asp-area="" asp-controller="Map" asp-action="Index">STATIONS</a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-row ml-auto d-flex">
                    @if (ViewContext.HttpContext.Session.GetString("user") == null)
                    {
                        <li class="nav-item mx-2 @Html.Raw((string)ViewContext.RouteData.Values["controller"] == "User" &&
                                            (string)ViewContext.RouteData.Values["action"] == "Login" ? "active" : "")">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login">CONNEXION</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-primary" asp-area="" asp-controller="User" asp-action="Register">INSCRIPTION</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item mx-2">
                            <a class="nav-link" asp-area="" asp-controller="Reservation" asp-action="Index">MES RESERVATIONS</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="User" asp-action="Logout">DECONNEXION</a>
                        </li>
                    }
                </ul>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AutolibASPCore - <a asp-area="" asp-controller="Home" asp-action="AboutUs">About us</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
