@model VehiculeInfo
@{
    ViewData["Title"] = "Choix du véhicule";
}

@if (Model != null)
{

    <div class="container d-flex justify-content-center">
        <div class="col-md-8 col-sm-8">
            <h1 class="text-center">Récapitulatif de votre véhicule</h1>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th> Image</th>
                        <th> Type</th>
                        <th> Catégorie</th>
                        <th> Batterie</th>
                    </tr>
                </thead>

                <tr>
                    <td>
                        <img src="@Model.ImageVehicule" alt="imgVehicule" />
                    </td>
                    <td>
                        @Model.TypeVehicule.ToString()
                    </td>
                    <td>
                        @Model.Categorie.ToString()
                    </td>
                    <td>
                        @Model.EtatBatterie.ToString()
                    </td>
                </tr>
            </table>

            <div class="container d-flex justify-content-center">
                <form name="inscription" method="post">

                    <p>
                        Date de départ:<br />
                        <input type="date" name="dateArrivee" required />
                    </p>

                    <p>
                        Date d'arrivée:<br />
                        <input type="date" name="dateDepart" required />
                    </p>

                    <input id=@Model.IdVehicule name="vehiculeId" type="hidden" value=@Model.IdVehicule>

                    <button type="submit" class="btn btn-warning">Valider la réservation</button>

                </form>
            </div>

            @if (@ViewBag.msgErreur != null)
            {
                <p>@ViewBag.msgErreur</p>
            }
        </div>
    </div>

    <div class="returnButton">
        @Html.ActionLink("Retourner à la liste des stations", "Index", "Map", null, new { @class = "btn btn-default btn-primary" })
    </div>
}