@model List<VehiculeInfo>
@{
    ViewData["Title"] = "Choix du véhicule";
}

@if (Model != null)
{
    <h1 class="text-center">Choisissez votre véhicule</h1>
    <div class="row justify-content-center">

        @foreach (var v in Model)
        {
        <div class="col-sm-auto">
            <a href="@Url.Action("Car","Reserve", new { id = v.IdVehicule })" id="@v.IdVehicule">
                <img src="@Url.Content(v.ImageVehicule)" />
            </a>
            <div class="carousel-image-title text-center">
                <h5>@v.TypeVehicule</h5>
                <h6>@v.Categorie</h6>
            </div>
        </div>
        }

    </div>

    <div class="returnButton">
            @Html.ActionLink("Retourner à la liste des stations", "Index", "Map", null, new { @class = "btn btn-default btn-primary" })
    </div>
}
